*.gz
*.zip
*.exe
*.rar

flowers_dataset/
Animals_Flowers_detection/flowers_dataset/
cifar-10-batches-py/
Animals_Flowers_detection/cifar-10-batches-py/
backup/

ImageGeneration/inception_resnet_v2_weights_tf_dim_ordering_tf_kernels.h5
ImageGeneration/.idea/

ImageGeneration/Resources/colored
ImageGeneration/Resources/colored32
ImageGeneration/Resources/grayscale